@charset "UTF-8";
/*------------------------------------*\
    $TABLE OF CONTENTS 
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Sass variables 
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins 
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */
/* Font */
@font-face {
  font-family: "UTM Avo";
  src: url("../fonts/UTMAvoBold.eot");
  src: url("../fonts/UTMAvoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMAvoBold.woff2") format("woff2"), url("../fonts/UTMAvoBold.woff") format("woff"), url("../fonts/UTMAvoBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UTM Avo";
  src: url("../fonts/UTMAvo.eot");
  src: url("../fonts/UTMAvo.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMAvo.woff2") format("woff2"), url("../fonts/UTMAvo.woff") format("woff"), url("../fonts/UTMAvo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ThinItalic.eot");
  src: url("../fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff"), url("../fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLightItalic.eot");
  src: url("../fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-LightItalic.eot");
  src: url("../fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.eot");
  src: url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.eot");
  src: url("../fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Semi";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBoldItalic.eot");
  src: url("../fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.eot");
  src: url("../fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot");
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BlackItalic.eot");
  src: url("../fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff"), url("../fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SVN-GothamBook.eot");
  src: url("../fonts/SVN-GothamBook.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBook.woff2") format("woff2"), url("../fonts/SVN-GothamBook.woff") format("woff"), url("../fonts/SVN-GothamBook.ttf") format("truetype"), url("../fonts/SVN-GothamBook.svg#SVN-GothamBook") format("svg");
}
@font-face {
  font-family: "SVN-Gotham";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/SVN-GothamThin.eot");
  src: url("../fonts/SVN-GothamThin.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamThin.woff2") format("woff2"), url("../fonts/SVN-GothamThin.woff") format("woff"), url("../fonts/SVN-GothamThin.ttf") format("truetype"), url("../fonts/SVN-GothamThin.svg#SVN-GothamThin") format("svg");
}
@font-face {
  font-family: "SVN-Gotham";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SVN-Gotham.eot");
  src: url("../fonts/SVN-Gotham.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Gotham.woff2") format("woff2"), url("../fonts/SVN-Gotham.woff") format("woff"), url("../fonts/SVN-Gotham.ttf") format("truetype"), url("../fonts/SVN-Gotham.svg#SVN-Gotham") format("svg");
}
@font-face {
  font-family: "SVN-Gotham";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/SVN-GothamBold.eot");
  src: url("../fonts/SVN-GothamBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBold.woff2") format("woff2"), url("../fonts/SVN-GothamBold.woff") format("woff"), url("../fonts/SVN-GothamBold.ttf") format("truetype"), url("../fonts/SVN-GothamBold.svg#SVN-GothamBold") format("svg");
}
@font-face {
  font-family: "SVN-Gotham Book";
  src: url("../fonts/SVN-GothamBook.eot");
  src: url("../fonts/SVN-GothamBook.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBook.woff2") format("woff2"), url("../fonts/SVN-GothamBook.woff") format("woff"), url("../fonts/SVN-GothamBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamBlackItalic.eot");
  src: url("../fonts/SVN-GothamBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBlackItalic.woff2") format("woff2"), url("../fonts/SVN-GothamBlackItalic.woff") format("woff"), url("../fonts/SVN-GothamBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham Book";
  src: url("../fonts/SVN-GothamBookItalic.eot");
  src: url("../fonts/SVN-GothamBookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBookItalic.woff2") format("woff2"), url("../fonts/SVN-GothamBookItalic.woff") format("woff"), url("../fonts/SVN-GothamBookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamBlack.eot");
  src: url("../fonts/SVN-GothamBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBlack.woff2") format("woff2"), url("../fonts/SVN-GothamBlack.woff") format("woff"), url("../fonts/SVN-GothamBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamBold.eot");
  src: url("../fonts/SVN-GothamBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBold.woff2") format("woff2"), url("../fonts/SVN-GothamBold.woff") format("woff"), url("../fonts/SVN-GothamBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-Gotham.eot");
  src: url("../fonts/SVN-Gotham.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Gotham.woff2") format("woff2"), url("../fonts/SVN-Gotham.woff") format("woff"), url("../fonts/SVN-Gotham.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamLightItalic.eot");
  src: url("../fonts/SVN-GothamLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamLightItalic.woff2") format("woff2"), url("../fonts/SVN-GothamLightItalic.woff") format("woff"), url("../fonts/SVN-GothamLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamLight.eot");
  src: url("../fonts/SVN-GothamLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamLight.woff2") format("woff2"), url("../fonts/SVN-GothamLight.woff") format("woff"), url("../fonts/SVN-GothamLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham Book";
  src: url("../fonts/SVN-GothamBook_1.eot");
  src: url("../fonts/SVN-GothamBook_1.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBook_1.woff2") format("woff2"), url("../fonts/SVN-GothamBook_1.woff") format("woff"), url("../fonts/SVN-GothamBook_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamThin.eot");
  src: url("../fonts/SVN-GothamThin.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamThin.woff2") format("woff2"), url("../fonts/SVN-GothamThin.woff") format("woff"), url("../fonts/SVN-GothamThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UTM Essendine Caps";
  src: url("../fonts/UTMEssendineCapsBold.eot");
  src: url("../fonts/UTMEssendineCapsBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMEssendineCapsBold.woff2") format("woff2"), url("../fonts/UTMEssendineCapsBold.woff") format("woff"), url("../fonts/UTMEssendineCapsBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UTM Essendine Caps";
  src: url("../fonts/UTMEssendineCaps.eot");
  src: url("../fonts/UTMEssendineCaps.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMEssendineCaps.woff2") format("woff2"), url("../fonts/UTMEssendineCaps.woff") format("woff"), url("../fonts/UTMEssendineCaps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UVF Mussica Swash";
  src: url("../fonts/UVFMussicaSwash.eot");
  src: url("../fonts/UVFMussicaSwash.eot?#iefix") format("embedded-opentype"), url("../fonts/UVFMussicaSwash.woff2") format("woff2"), url("../fonts/UVFMussicaSwash.woff") format("woff"), url("../fonts/UVFMussicaSwash.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Avo";
  src: url("../fonts/SVN-Avobold.eot");
  src: url("../fonts/SVN-Avobold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Avobold.woff2") format("woff2"), url("../fonts/SVN-Avobold.woff") format("woff"), url("../fonts/SVN-Avobold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Segoe Script";
  src: url("../fonts/SVN-SegoeScript.eot");
  src: url("../fonts/SVN-SegoeScript.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-SegoeScript.woff2") format("woff2"), url("../fonts/SVN-SegoeScript.woff") format("woff"), url("../fonts/SVN-SegoeScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Segoe Print";
  src: url("../fonts/SVN-SegoePrint.eot");
  src: url("../fonts/SVN-SegoePrint.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-SegoePrint.woff2") format("woff2"), url("../fonts/SVN-SegoePrint.woff") format("woff"), url("../fonts/SVN-SegoePrint.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Segoe UI Condensed";
  src: url("../fonts/SVN-SegoeUICondensedBold.eot");
  src: url("../fonts/SVN-SegoeUICondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-SegoeUICondensedBold.woff2") format("woff2"), url("../fonts/SVN-SegoeUICondensedBold.woff") format("woff"), url("../fonts/SVN-SegoeUICondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Segoe UI Condensed";
  src: url("../fonts/SVN-SegoeUICondensed.eot");
  src: url("../fonts/SVN-SegoeUICondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-SegoeUICondensed.woff2") format("woff2"), url("../fonts/SVN-SegoeUICondensed.woff") format("woff"), url("../fonts/SVN-SegoeUICondensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Segoe UI";
  src: url("../fonts/SVN-SegoeULight.eot");
  src: url("../fonts/SVN-SegoeULight.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-SegoeULight.woff2") format("woff2"), url("../fonts/SVN-SegoeULight.woff") format("woff"), url("../fonts/SVN-SegoeULight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Segoe UI";
  src: url("../fonts/SVN-SegoeULightItalic.eot");
  src: url("../fonts/SVN-SegoeULightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-SegoeULightItalic.woff2") format("woff2"), url("../fonts/SVN-SegoeULightItalic.woff") format("woff"), url("../fonts/SVN-SegoeULightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Segoe UI";
  src: url("../fonts/SVN-SegoeUI.eot");
  src: url("../fonts/SVN-SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-SegoeUI.woff2") format("woff2"), url("../fonts/SVN-SegoeUI.woff") format("woff"), url("../fonts/SVN-SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Segoe UI";
  src: url("../fonts/SVN-SegoeUIItalic.eot");
  src: url("../fonts/SVN-SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-SegoeUIItalic.woff2") format("woff2"), url("../fonts/SVN-SegoeUIItalic.woff") format("woff"), url("../fonts/SVN-SegoeUIItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Segoe UI";
  src: url("../fonts/SVN-SegoeUIBold.eot");
  src: url("../fonts/SVN-SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-SegoeUIBold.woff2") format("woff2"), url("../fonts/SVN-SegoeUIBold.woff") format("woff"), url("../fonts/SVN-SegoeUIBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Segoe UI";
  src: url("../fonts/SVN-SegoeUIBoldItalic.eot");
  src: url("../fonts/SVN-SegoeUIBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-SegoeUIBoldItalic.woff2") format("woff2"), url("../fonts/SVN-SegoeUIBoldItalic.woff") format("woff"), url("../fonts/SVN-SegoeUIBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

header, footer, nav, section, article, hgroup, figure {
  display: block;
}

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Clearfix */
.cf {
  *zoom: 1;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Floats */
.right {
  float: right;
  padding: 0 0 1em 1em;
}

.right-search {
  float: right;
  padding: 0 0 1em 0;
}

.left {
  float: left;
  padding: 0 1em 1em 0;
}

/* Text-Align */
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/* Display Classes */
@media all and (max-width: 639px) {
  .hide-mobile {
    display: none;
  }
}

@media all and (min-width: 639px) and (max-width: 1024px) {
  .hide-ipad {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .hide-laptop {
    display: none;
  }
}

.heading-font {
  font-family: "UTM Avo", Arial, Helvetica, sans-serif;
}

body {
  background: white;
  font: 100%/1.5 "SVN-Gotham Book", Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #525252;
  font-size: 16px;
}

/* Links */
a {
  color: #525252;
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus {
  color: #525252;
}

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1,
.alpha {
  line-height: 1.2;
  font-size: 37px;
}

h2,
.beta {
  line-height: 1.2;
  font-size: 20px;
}

h3,
.gamma {
  line-height: 1.2;
}

/* Subheadings */
.subheading {
  font-family: "UTM Avo", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* Text-Related Elements */
p {
  margin-bottom: 1em;
}

/* Blockquote */
blockquote {
  font-style: italic;
  border-left: 1px solid #525252;
  color: #525252;
  padding-left: 1em;
  margin-bottom: 1em;
}

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  border-top: 1px dashed #525252;
  margin: 2em 0;
}

abbr {
  border-bottom: 1px dotted #525252;
  cursor: help;
}

ul.checked {
  padding-left: 35px;
}
ul.checked li {
  position: relative;
}
ul.checked li::before {
  display: block;
  content: "";
  width: 1em;
  height: 1em;
  position: absolute;
  left: -20px;
  top: 0.5em;
  font: normal normal normal 14px/1 FontAwesome;
  color: #d1363a;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
img, video, object {
  max-width: 100%;
  height: auto;
}

iframe {
  margin-bottom: 1em;
}

figure {
  margin-bottom: 1em;
}
figure img {
  margin-bottom: 0.5em;
}

figcaption {
  font-style: italic;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol,
form ul {
  list-style: none;
  margin-left: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  padding-bottom: 0.5em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0 1px 0;
}

input,
textarea {
  width: 100%;
  border: 1px solid #525252;
  padding: 0.5em 0.65rem;
}

input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none;
}

button,
input[type=submit] {
  padding: 0.5em;
  background: #525252;
  border: 1px solid #525252;
  cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
  width: auto;
  margin-right: 0.3em;
}

input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.field-container {
  margin-bottom: 1em;
}

.inline-form fieldset,
.inline-form .inline-container {
  position: relative;
}
.inline-form input[type=submit],
.inline-form button,
.inline-form .btn {
  font-size: 0.875em;
  padding: 0.65rem 1.3rem;
  background: #525252;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
.inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus,
.inline-form button:hover,
.inline-form button:focus,
.inline-form .btn:hover,
.inline-form .btn:focus {
  background: #525252;
  color: white;
}

/* Validation */
.has-error {
  border-color: #525252;
}

.is-valid {
  border-color: #525252;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* Search Form */
.search-field {
  padding-right: 3em;
}

.inline-form .search-submit {
  background: none;
  padding: 0.78em 1em;
  border: 0;
  border-left: 1px solid #525252;
  color: #525252;
}

/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #525252;
  width: 100%;
}

th {
  text-align: left;
  border: 1px solid #525252;
  padding: 0.2em;
}

td {
  border: 1px solid #525252;
  padding: 0.2em;
}

.animate-fade {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.animate-fade:hover {
  opacity: 0;
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
.three-layer-cover {
  position: relative;
  display: inline-block;
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
.three-layer-cover .main {
  width: 100%;
  display: block;
}
.three-layer-cover .cover {
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  right: 30px;
}

/**
pages
**/

/*# sourceMappingURL=style.css.map */
