.header {
	background: $white;
	padding: 0;
	border-bottom: 1px solid #dbdbdb;
	@extend .lc;
}

.logo {
	max-width: 155px;
}

.nav-toggle {
	float: right;
	display: block;
	padding: 0.9rem 1rem 0.7rem;
	font-size: 1.3rem;
	line-height: 1;
	border-left: 1px solid #dbdbdb;


}

.search-form {
	overflow: hidden;
	max-height: 0;

}