<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: white;"></span>
        <span class="sg-label">$white</span>
        <br/>
        <span class="sg-label">white</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #525252;"></span>
        <span class="sg-label">$gray</span>
        <br/>
        <span class="sg-label">#525252</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #d1363a;"></span>
        <span class="sg-label">$red</span>
        <br/>
        <span class="sg-label">#d1363a</span>
    </li>
</ul>
