<p>Body font: 'SVN-Avo',Arial,Helvetica,sans-serif;</p>
<p>
    <em>Body font italic: 'SVN-Avo',Arial,Helvetica,sans-serif;</em>
</p>
<p>
    <strong>Body font bold: 'SVN-Avo',Arial,Helvetica,sans-serif;</strong>
</p>
<p class="heading-font">Heading font: 'UTM Avo',Arial,Helvetica,sans-serif;</p>
<p class="heading-font">
    <em>Heading font italic: 'UTM Avo',Arial,Helvetica,sans-serif;</em>
</p>
<p class="heading-font">
    <strong>Heading font bold; 'UTM Avo',Arial,Helvetica,sans-serif;</strong>
</p>
