<p class="hide-mobile">This text is hidden on mobile screens</p>

<p class="hide-ipad hide-laptop">
    <em>This text is only visible on mobile screens</em>
</p>

<p class="hide-ipad">This text is hidden on ipad screens only</p>

<p class="hide-mobile hide-laptop">
    <em>This text is only visible on ipad screens</em>
</p>

<p class="hide-laptop">This text is hidden on laptop screens</p>

<p class="hide-mobile hide-ipad">
    <em>This text is only visible on laptop screens</em>
</p>
