.three-layer-cover {
    position: relative;
    padding-right: 30px;
    background-color: rgba(black, 0.3);

    .main {
        height: 100vh;
        display: block;
    }

    .cover {
        position: absolute;
        display: block;
        height: 100%;
        top: 0;
        right: 30px;
    }
}